*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c2d;
}

main {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #273549;
    width: 550px;
    height: 285px;
    padding: 0;
    margin: 0;
    border-radius: 15px 15px 0px 0px;
}

.top-container h1 {
    font-size: 28px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 30px;
}

.top-container label input {
    font-size: 40px;
    color: #FFFFFF;
    width: 217px;
    height: 83px;
    margin: 0 0 30px 0;
    background-color: transparent;
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
    padding-left: 20px;
}

.top-container button {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px var(--score-container-color);
}

button:hover {
    background-color: #CCC1FF;
    color: #FFFFFF;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    width: 550px;
    height: 444px;
    border-radius: 0px 0px 15px 15px;
}

#length-El {
    background: #273549;
    width: 500px;
    height: 108.57px;
    text-align: center;
    border-radius: 2px;
}

#length-El h2 {
    padding: 31px 0 10px;
}

#volume-El {
    background: #273549;
    width: 500px;
    height: 108.57px;
    text-align: center;
    border-radius: 2px;
}

#volume-El h2 {
    padding: 31px 0 10px;
}

#mass-El {
    background: #273549;
    width: 500px;
    height: 108.57px;
    text-align: center;
    border-radius: 2px;
}

#mass-El h2 {
    padding: 31px 0 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 20px;
    color: #CCC1FF;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}


.switch-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 100px;
    background-image: url(./Icons/sun-light-white.svg);
    background-repeat: no-repeat;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */

.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.contact-container {
    width: 25px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    right: 10px;
    background-image: url(./Icons/github-icon-white.svg);
    background-repeat: no-repeat;
   }